.titlepage{
      width: 1400 auto; /* Larghezza del box */
      height: 60px; /* Altezza del box */
      background-color: #f0f0f0; /* Colore di sfondo */
      padding-left: 40px;
      padding-top: 10px;
}
#titlepage{
	font-family: verdana;
	margin-left: 32px;
}

#titlepage a,#footer a{
	text-decoration: none;
	color: #585858;
}

#nav {
    margin: 0;
    padding: 0.5em 0;
    background-color: #bcbcc4;
    text-align: center;
    color: #585888;

}
      padding: 20px; /* Spazio interno al box */
      margin: 20px; /* Margine esterno al box */
      margin-top: 80px;

.barramenu{
      width: 1400 auto; /* Larghezza del box */
      height: 100px; /* Altezza del box */
      background-color: #f0f080; /* Colore di sfondo */
      padding:40px;
      margin-top: 10px;

} 
    .linkviaggio {
      position: relative; /* Posizionamento relativo per consentire il posizionamento dell'elemento link */
      width: 80%; /* Larghezza del box in percentuale rispetto alla larghezza dello schermo *; /* Larghezza massima del box */
      height: 200px; /* Altezza del box */
      margin: 20px auto; /* Margine esterno al box (auto per centrare orizzontalmente) */
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Ombra leggera */
    }

    .viaggioimmagine {
      position: absolute; /* Posizionamento assoluto all'interno del linkviaggio */
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 1; /* Posiziona l'immagine sopra l'elemento link */
      background-image: url(spiaggia.jpg); /* Percorso dell'immagine di sfondo */
      background-size: cover; /* Copre completamente il contenuto con l'immagine */
      background-position: center; /* Centra l'immagine orizzontalmente e verticalmente */
    }

    .viaggioimmagine, .viaggioimmagine:hover, .viaggioimmagine:active, .viaggioimmagine:visited {
      text-decoration: none;
    }

}

.testoprogetto{
            width: 90% auto;
            padding: 20px;
            margin-left: 80px;
            margin-right: 80px;
}

    .testoprogetto p, h4 {
      font-family: Arial, sans-serif;
      font-size: 16px;
      color: #333;
      width: 90% auto;
      margin-left: 80px;
    }
.testoprogetto p{
  padding-top: 5px;
  padding-bottom:20px;
}
.footer{
      width: auto; /* Larghezza del box */
      height: 200px auto; /* Altezza del box */
      background-color: #f0f0f0; /* Colore di sfondo */
      margin-top: 1400px auto;
      text-align: center;
      padding: 40px;

}

.footer a{
	text-decoration: none;
	color: #585858;
}

.custom-space {
  width: 90%;
  margin: 20px auto;
  background-color: #efefef;
  height: 258px auto;
  /* Aggiungi altre regole CSS se necessario */
}

.barramenu a{
	text-decoration: none;
	color: #585858;

}

    .dropdown {
      position: relative;
      display: inline-block;
    }

    .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f9f9f9;
      min-width: 160px;
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
      z-index: 1;
    }

    .dropdown-menu {
      display: none;
    }
    .dropdown:hover .dropdown-menu {
      display: block
    }

    /* Stile degli elementi del dropdown */
    .dropdown-content a {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
    }

    .dropdown-content a:hover {
      background-color: #f1f1f1;
    }
    img {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;

    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;

    pointer-events: none;
}